@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
@model Frapper.ViewModel.Customers.CustomerPagingInfo

@{
    Layout = "_LayoutUser";
    ViewBag.PageName = "Customer";
}



<style>

    .arrow {
        display: inline-block;
        height: 16px;
        vertical-align: middle;
        width: 16px;
    }

        .arrow.up {
            background-image: url('/img/grid/arrow-up.png');
        }

        .arrow.down {
            background-image: url('/img/grid/arrow-down.png');
        }

    a {
        color: #000000;
        text-decoration: none;
        background-color: transparent;
    }

    .table td, .table th {
        padding: .40rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
</style>


<div class="col-md-12">
    <form asp-controller="Customer" asp-antiforgery="true" asp-action="Index" method="post">
        <div class="card card-default">
            <div class="card-header">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input asp-for="Search" placeholder="Search" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <button type="submit" id="btnsubmit" class="btn btn-success mr-1"><i class="fas fa-search"></i> Search</button>

                        <button type="submit" id="btnclear" class="btn btn-danger mr-1"><i class="fas fa-redo-alt"></i> Clear</button>

                        <button type="button" id="btnAddCustomer" data-toggle="modal" data-target="#customerModal" class="btn btn-info mr-1"><i class="fas fa-plus-square"></i> Add Customer</button>
                    </div>
                    <div class="form-group col-md-4">
                        @if (Model.CustomersPagedList != null && Model.CustomersPagedList.Count > 0)
                        {
                            @Html.PagedListPager(Model.CustomersPagedList, page => Url.Action("Index", new { page = page, sortby = Model.sortBy, Search = Model.Search }), new X.PagedList.Mvc.Core.Common.PagedListRenderOptions() { DisplayItemSliceAndTotal = false, ContainerDivClasses = new[] { "pagination pagination-sm m-0 float-right" }, LiElementClasses = new[] { "page-item" }, PageClasses = new[] { "page-link" }, })
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover text-nowrap table-bordered">
                    <thead style="background-color: #dbeeff">
                        <trow sortby="@Model.sortBy" pagesize="@Model.pageSize" isAsc="@Model.isAsc" search="@Model.Search"></trow>
                    </thead>
                    <tbody>
                        @if (Model.CustomersPagedList != null && Model.CustomersPagedList.Count > 0)
                        {
                            @foreach (var customer in Model.CustomersPagedList)
                            {
                                <tr>
                                    <td>
                                        @customer.FirstName
                                    </td>
                                    <td>
                                        @customer.LastName
                                    </td>
                                    <td>
                                        @customer.EmailId
                                    </td>
                                    <td>
                                        @customer.MobileNo
                                    </td>
                                    <td>
                                        @customer.State
                                    </td>
                                    <td>
                                        @customer.City
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    No Records Found!
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">

            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="customerModal" data-keyboard="false" data-backdrop="static" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Add Customer
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalbody" class="modal-body">

            </div>
            <div class="modal-footer justify-content-end">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#modalbody").load("/Customer/CustomerView");

            $("#btnclear").click(function () {
                $("#Search").val('');
                window.location.href = window.location.href.split('?')[0];
            });

            $("#Search").blur(function () {
                var value = $("#Search").val();
                value = value.trim();
                $("#Search").val(value);
            });
        });
    </script>


}